
.c-nav__wrapper {
	display: flex;
	flex: auto 1;
    flex-direction: row-reverse;
}

.c-nav {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
}

.c-nav__item {
	display: block;
}

.c-nav__item-link {
	@include font-base-16b;
	padding: $tsu ($ssu * 1.5);
	color: $white;
	color: var(--primary-b);

	&[aria-current="page"],
	&.active,
	&:hover,	
	&:focus {
		color: $blue;
		color: var(--primary-a);
	}
}