$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/font-icons/fonts/" !default;

$iconf-codepen: "\e901";
$iconf-home: "\e900";
$iconf-pencil: "\e905";
$iconf-camera: "\e90f";
$iconf-play: "\e912";
$iconf-file-text2: "\e926";
$iconf-file-picture: "\e927";
$iconf-file-zip: "\e92b";
$iconf-phone: "\e942";
$iconf-map2: "\e94c";
$iconf-display: "\e956";
$iconf-laptop: "\e957";
$iconf-mobile: "\e958";
$iconf-download: "\e960";
$iconf-bubble: "\e96b";
$iconf-arrow-up2: "\ea3a";
$iconf-arrow-right2: "\ea3c";
$iconf-arrow-down2: "\ea3e";
$iconf-arrow-left2: "\ea40";
$iconf-circle-up: "\ea41";
$iconf-circle-right: "\ea42";
$iconf-circle-down: "\ea43";
$iconf-circle-left: "\ea44";
$iconf-mail2: "\ea84";
$iconf-facebook2: "\ea91";
$iconf-instagram: "\ea92";
$iconf-whatsapp: "\ea93";
$iconf-twitter: "\ea96";
$iconf-youtube: "\ea9d";
$iconf-github: "\eab0";
$iconf-appleinc: "\eabe";
$iconf-android: "\eac0";
$iconf-linkedin: "\eac9";
$iconf-pinterest: "\ead1";
$iconf-file-pdf: "\eadf";
$iconf-file-word: "\eae1";
$iconf-file-excel: "\eae2";

